{
    "$schema": "https://docs.renovatebot.com/renovate-schema.json",
    "extends": [
        "config:best-practices",
        ":maintainLockFilesWeekly"
    ]
[%- if repo_host_type == "gitlab.com" or reop_host_type == "gitlab-self-managed" or project_name == "Serious Scaffold Python" %],
    "gitlabci": {
        "fileMatch": [
            "^.gitlab/workflows/.*\\.yml$"
        ]
    }
[%- endif %]
[%- if project_name == "Serious Scaffold Python" %],
    "ignorePaths": [
        "**/template/**"
    ]
[%- endif %]
}
