{
    "$schema": "https://docs.renovatebot.com/renovate-schema.json",
    "customManagers": [
        {
            "customType": "regex",
            "datasourceTemplate": "pypi",
            "fileMatch": [
                "^\\.devcontainer/Dockerfile$"
[%- if project_name == "Serious Scaffold Python" %],
                "^template/\\.devcontainer/Dockerfile\\.jinja$"
[%- endif %]
            ],
            "matchStrings": [
                "RUN pipx install (?<depName>.*?)==(?<currentValue>.*?)\n"
            ]
        }
    ],
    "extends": [
        "config:best-practices",
        ":maintainLockFilesWeekly"
    ]
[%- if repo_host_type == "gitlab.com" or reop_host_type == "gitlab-self-managed" or project_name == "Serious Scaffold Python" %],
    "gitlabci": {
        "fileMatch": [
            "^.gitlab/workflows/.*\\.yml$"
        ]
    }
[%- endif %]
[%- if project_name == "Serious Scaffold Python" %],
    "ignorePaths": [
        "**/template/**"
    ]
[%- endif %]
}
