semantic-release:
  image:
    name: node:22.21.1@sha256:4ad2c2b350ab49fb637ab40a269ffe207c61818bb7eb3a4ea122001a0c605e1f
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE == "push" && $CI_PROJECT_NAMESPACE == "{{ repo_namespace }}" && $CI_PROJECT_NAME == "{{ repo_name }}" && $PAT != null
  script:
    - >
      npx
      --package @semantic-release/gitlab@13.2.6
      --package conventional-changelog-conventionalcommits@9.1.0
      --package semantic-release@24.2.7
      semantic-release
  stage: release
  variables:
    GITLAB_TOKEN: $PAT
