{% from pathjoin("includes", "version_compare.jinja") import version_between -%}
stages:
  - lint_test
  - build_release
default:
  image: python:3.11
lint:
  image: python:$PYTHON_VERSION
  interruptible: true
  only:
    - /^v(?P<major>0|[1-9]\d*)\.(?P<minor>0|[1-9]\d*)\.(?P<patch>0|[1-9]\d*)$/
    - main
    - merge_requests
  parallel:
    matrix:
      - PYTHON_VERSION:
{%- if version_between("3.8", minimal_python_version, maximal_python_version) | bool %}
          - '3.8'
{%- endif %}
{%- if version_between("3.9", minimal_python_version, maximal_python_version) | bool %}
          - '3.9'
{%- endif %}
{%- if version_between("3.10", minimal_python_version, maximal_python_version) | bool %}
          - '3.10'
{%- endif %}
{%- if version_between("3.11", minimal_python_version, maximal_python_version) | bool %}
          - '3.11'
{%- endif %}
  script:
    - env | sort
    - make dev-lint
    - make lint-check
  stage: lint_test
tests:
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  image: python:$PYTHON_VERSION
  interruptible: true
  only:
    - /^v(?P<major>0|[1-9]\d*)\.(?P<minor>0|[1-9]\d*)\.(?P<patch>0|[1-9]\d*)$/
    - main
    - merge_requests
  parallel:
    matrix:
      - PYTHON_VERSION:
{%- if version_between("3.8", minimal_python_version, maximal_python_version) | bool %}
          - '3.8'
{%- endif %}
{%- if version_between("3.9", minimal_python_version, maximal_python_version) | bool %}
          - '3.9'
{%- endif %}
{%- if version_between("3.10", minimal_python_version, maximal_python_version) | bool %}
          - '3.10'
{%- endif %}
{%- if version_between("3.11", minimal_python_version, maximal_python_version) | bool %}
          - '3.11'
{%- endif %}
  script:
    - env | sort
    - make dev-tests
    - make tests
  stage: lint_test
package:
  only:
    - /^v(?P<major>0|[1-9]\d*)\.(?P<minor>0|[1-9]\d*)\.(?P<patch>0|[1-9]\d*)$/
  script:
    - env | sort
    - make dev-package
    - make build
    - make upload
  stage: build_release
pages:
  artifacts:
    paths:
      - public
  except:
    refs:
      - schedules
  only:
    changes:
      - docs/**/*
    refs:
      - /^v(?P<major>0|[1-9]\d*)\.(?P<minor>0|[1-9]\d*)\.(?P<patch>0|[1-9]\d*)$/
  script:
    - env | sort
    - make dev-docs
    - make docs-all
  stage: build_release
release:
  release:
    description: $CI_COMMIT_TAG_MESSAGE
    name: $CI_COMMIT_TAG
    tag_name: $CI_COMMIT_TAG
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  only:
    - /^v(?P<major>0|[1-9]\d*)\.(?P<minor>0|[1-9]\d*)\.(?P<patch>0|[1-9]\d*)$/
  script:
    - env | sort
  stage: build_release
