[% from pathjoin("includes", "version_compare.jinja") import version_between -%]
name: CI
concurrency:
  cancel-in-progress: true
  group: {{ '${{ github.workflow }}-${{ github.ref }}' }}
jobs:
  ci:
    if: {{ '${{ !cancelled() && ! failure() }}' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pdm-project/setup-pdm@v3
        with:
          cache: true
          python-version: {{ '${{ matrix.python-version }}' }}
      - run: env | sort
      - run: make dev
      - run: make lint test docs build
    strategy:
      matrix:
        python-version:
[%- if version_between("3.8", min_py, max_py) %]
          - '3.8'
[%- endif %]
[%- if version_between("3.9", min_py, max_py) %]
          - '3.9'
[%- endif %]
[%- if version_between("3.10", min_py, max_py) %]
          - '3.10'
[%- endif %]
[%- if version_between("3.11", min_py, max_py) %]
          - '3.11'
[%- endif %]
[%- if version_between("3.12", min_py, max_py) %]
          - '3.12'
[%- endif %]
[%- if project_name == "Serious Scaffold Python" %]
  consistency:
    if: {{ '${{ !cancelled() && ! failure() }}' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Git
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
      - uses: pdm-project/setup-pdm@v3
        with:
          cache: true
          python-version: '{{ default_py }}'
      - run: env | sort
      - name: Install copier for template rendering using pipx
        run: pipx install copier
      - name: Generate the project with the default value
        run: |
          find . -maxdepth 1 | grep -vE '(\.|template|includes|\.git|copier\.yaml)$' | xargs -I {} rm -r {}
          copier copy -d repo_host_type=gitlab.com -r HEAD -f . .
          rm .copier-answers.yml
          copier copy -r HEAD -f . .
          rm .copier-answers.yml
      - run: git diff
      - run: git status --porcelain
      - run: test -z "$(git status --porcelain)"
[%- endif %]
on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - main
