jobs:
  package:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          cache: pip
          python-version: '{{ default_py }}'
      - run: env | sort
      - run: make dev-package
      - run: make build
      - env:
          TWINE_NON_INTERACTIVE: true
          TWINE_PASSWORD: {{ '${{ secrets.TWINE_PASSWORD }}' }}
          TWINE_USERNAME: {{ '${{ vars.TWINE_USERNAME }}' }}
        run: make upload
  pages-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          cache: pip
          python-version: '{{ default_py }}'
      - run: env | sort
      - run: make dev-docs
      - run: make docs
      - name: Upload changelog
        uses: actions/upload-artifact@v3
        with:
          name: changelog
          path: docs/changelog.md
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: public
  pages-deploy:
    needs: release
    permissions:
      id-token: write
      pages: write
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2
  release:
    needs: pages-build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install git-changelog using pipx
        run: pipx install git-changelog
      - name: Remove changelog to avoid file already exists error
        run: rm -v docs/changelog.md
      - name: Download changelog
        uses: actions/download-artifact@v3
        with:
          name: changelog
          path: docs/
      - name: Prepare release notes
        run: make release-notes > release-notes.md
      - name: Create GitHub release
        uses: softprops/action-gh-release@v1
        with:
          body_path: release-notes.md
          prerelease: {{ '${{ startsWith(github.ref, \'refs/tags/v0\') }}' }}
name: Release
on:
  push:
    tags:
      - v[1-9][0-9]*.[0-9]+.[0-9]+
      - v0.[0-9]+.[0-9]+
