[% from pathjoin("includes", "version_compare.jinja") import version_between -%]
name: Release
jobs:
  pages-build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0
      - uses: pdm-project/setup-pdm@568ddd69406b30de1774ec0044b73ae06e716aa4 # v4
        with:
          cache: true
          python-version: "{{ default_py }}"
          version: 2.15.0
      - id: pages
        name: Setup pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0
      - run: env | sort
      - run: make dev-doc
      - run: make doc
        env:
          CI_PAGES_URL: {{ '${{ steps.pages.outputs.base_url }}' }}
      - name: Generate release notes
        run: make release-notes > release-notes.md
      - name: Upload release notes
        uses: actions/upload-artifact@1746f4ab65b179e0ea60a494b83293b640dd5bba # v4.3.2
        with:
          name: release-notes
          path: release-notes.md
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
        with:
          path: public
  release-publish:
    needs: pages-build
    permissions:
      contents: write
    runs-on: ubuntu-22.04
    steps:
      - name: Download release notes
        uses: actions/download-artifact@8caf195ad4b1dee92908e23f56eeb0696f1dd42d # v4.1.5
        with:
          name: release-notes
      - id: prerelease
        name: Determine prerelease
        run: |
          if [[ {{ '"${{ github.ref }}"' }} =~ (a|b|rc)(0|[1-9][0-9]*)?$ ]]; then
            echo "is_prerelease=true" > $GITHUB_OUTPUT
          else
            echo "is_prerelease=false" > $GITHUB_OUTPUT
          fi
      - name: Create GitHub release
        uses: softprops/action-gh-release@9d7c94cfd0a1f3ed45544c887983e9fa900f0564 # v2.0.4
        with:
          body_path: release-notes.md
          prerelease: {{ '${{ steps.prerelease.outputs.is_prerelease }}' }}
  container-publish:
    needs: release-publish
    permissions:
      packages: write
    runs-on: ubuntu-22.04
    steps:
      - uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb # v3.3.0
      - uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20 # v3.1.0
        with:
          password: {{ '${{ secrets.GITHUB_TOKEN }}' }}
          registry: ghcr.io
          username: {{ '${{ github.actor }}' }}
      - name: Build and push dev container
        env:
          SOURCE_DATE_EPOCH: 0
        uses: docker/build-push-action@2cdde995de11925a030ce8070c3d77a52ffcf1c0 # v5.3.0
        with:
          build-args: |
            PYTHON_VERSION={{ '${{ matrix.python-version }}' }}
          cache-from: type=registry,ref=ghcr.io/{{ '${{ github.repository }}' }}/dev-cache:py{{ '${{ matrix.python-version }}' }}
          cache-to: type=registry,ref=ghcr.io/{{ '${{ github.repository }}' }}/dev-cache:py{{ '${{ matrix.python-version }}' }},mode=max
          file: .devcontainer/Dockerfile
          provenance: false
          push: true
          tags: |
            ghcr.io/{{ '${{ github.repository }}' }}/dev:py{{ '${{ matrix.python-version }}' }}
            ghcr.io/{{ '${{ github.repository }}' }}/dev:py{{ '${{ matrix.python-version }}' }}-{{ '${{ github.ref_name }}' }}
          target: dev
      - name: Build and push prod container
        env:
          SOURCE_DATE_EPOCH: 0
        uses: docker/build-push-action@2cdde995de11925a030ce8070c3d77a52ffcf1c0 # v5.3.0
        with:
          build-args: |
            PYTHON_VERSION={{ '${{ matrix.python-version }}' }}
            PDM_BUILD_SCM_VERSION={{ '${{ github.ref_name }}' }}
          cache-from: type=registry,ref=ghcr.io/{{ '${{ github.repository }}' }}/dev-cache:py{{ '${{ matrix.python-version }}' }}
          file: .devcontainer/Dockerfile
          provenance: false
          push: true
          tags: |
            ghcr.io/{{ '${{ github.repository }}' }}:py{{ '${{ matrix.python-version }}' }}
            ghcr.io/{{ '${{ github.repository }}' }}:py{{ '${{ matrix.python-version }}' }}-{{ '${{ github.ref_name }}' }}
          target: prod
    strategy:
      matrix:
        python-version:
[%- if version_between("3.8", min_py, max_py) %]
          - "3.8"
[%- endif %]
[%- if version_between("3.9", min_py, max_py) %]
          - "3.9"
[%- endif %]
[%- if version_between("3.10", min_py, max_py) %]
          - "3.10"
[%- endif %]
[%- if version_between("3.11", min_py, max_py) %]
          - "3.11"
[%- endif %]
[%- if version_between("3.12", min_py, max_py) %]
          - "3.12"
[%- endif %]
  package-publish:
    needs: release-publish
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: pdm-project/setup-pdm@568ddd69406b30de1774ec0044b73ae06e716aa4 # v4
        with:
          cache: true
          python-version: "{{ default_py }}"
          version: 2.15.0
      - run: env | sort
      - env:
          PDM_PUBLISH_PASSWORD: {{ '${{ secrets.PDM_PUBLISH_PASSWORD }}' }}
          PDM_PUBLISH_USERNAME: {{ '${{ vars.PDM_PUBLISH_USERNAME || \'__token__\' }}' }}
        run: make publish
  pages:
    needs: release-publish
    permissions:
      id-token: write
      pages: write
    runs-on: ubuntu-22.04
    steps:
      - id: deployment
        name: Deploy to GitHub Pages
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
on:
  push:
    tags:
      - v?[0-9]+.[0-9]+.[0-9]+
      - v?[0-9]+.[0-9]+.[0-9]+-?a[0-9]*
      - v?[0-9]+.[0-9]+.[0-9]+-?b[0-9]*
      - v?[0-9]+.[0-9]+.[0-9]+-?rc[0-9]*
