# Project Management

## Prerequisites

[`copier`](https://copier.readthedocs.io/) serves as a key tool in `serious-scaffold`, differentiating it from other project templates. The installation can be done with the following command.

```{note}
Using `pipx` for management is recommended and you can find pipx's installation instructions [here](https://pypa.github.io/pipx/installation/).
```

```bash
# Copier: Template rendering for projects.
pipx install copier==9.2.0
```

## Project Initialization

1. Create a Git repository on the hosting platform. Clone it to local and navigate to the root directory.

    ```{note}
    The provided repository URL, `git@git.example.com/demo_namespace/demo_name.git`, is purely for demonstration purposes.
    ```

    ```bash
    git clone git@git.example.com/demo_namespace/demo_name.git
    cd demo_name
    ```

1. Generate the project.

    ```{note}
    Several questions will be prompted during this process. Your patience is appreciated for this one-time job.
    ```

    ```bash
    copier copy gh:serious-scaffold/ss-python .
    ```

1. Set up the development environment.

    ```bash
    make dev
    ```

1. Commit and push the initialized project.

    ```bash
    git add .
    git commit -m "chore: Initialize from ss-python."
    SKIP=no-commit-to-branch git push
    ```

1. Bootstrap the dev container.

    ::::{tab-set}

    :::{tab-item} GitHub
    :sync: github
    Navigate to the [Dev Container Workflow](https://github.com/{{ repo_namespace }}/{{ repo_name }}/actions/workflows/devcontainer.yml) page and run workflow from the default branch. The container will be named following pattern `ghcr.io/{{ repo_namespace }}/{{ repo_name }}/dev:py<PYTHON_VERSION>`, for example, `ghcr.io/{{ repo_namespace }}/{{ repo_name }}/dev:py3.12`.

    ```{image} /_static/images/bootstrap-dev-container-github.png
    :alt: Bootstrap Dev Container on GitHub.
    :target: https://github.com/{{ repo_namespace }}/{{ repo_name }}/actions/workflows/devcontainer.yml
    ```

    :::

    :::{tab-item} GitLab
    :sync: gitlab
    Navigate to the [Run pipeline](https://gitlab.com/{{ repo_namespace }}/{{ repo_name }}/-/pipelines/new) page and run pipeline for the default branch. The container will be named following pattern `registry.gitlab.com/{{ repo_namespace }}/{{ repo_name }}/dev:py<PYTHON_VERSION>`, for example, `registry.gitlab.com/{{ repo_namespace }}/{{ repo_name }}/dev:py3.12`.

    ```{image} /_static/images/bootstrap-dev-container-gitlab.png
    :alt: Bootstrap Dev Container on GitLab.
    :target: https://gitlab.com/{{ repo_namespace }}/{{ repo_name }}/-/pipelines/new
    ```

    :::

    ::::

Now, everything is done for initialization.

## Project Configuration

There are several configurations to utilize the features provided by the project template. These are only the essential ones, you can adjust according to your project's actual needs.

::::{tab-set}

:::{tab-item} GitHub
:sync: github

1. Branch protection:
    1. Navigate to the [Branch protection rules](https://github.com/{{ repo_namespace }}/{{ repo_name }}/settings/branches) settings.
    1. Ensure a rule for the default `main` branch.
    1. Enable **Require a pull request before merging** with **Require approvals** and **Dismiss stale pull request approvals when new commits are pushed** enabled.
    1. Enable **Require status checks to pass before merging** and set [ci](https://github.com/{{ repo_namespace }}/{{ repo_name }}/actions/workflows/ci.yml) and [commitlint](https://github.com/{{ repo_namespace }}/{{ repo_name }}/actions/workflows/commitlint.yml) as required status checks.
1. Tag protection:
    1. Navigate to the [Protected tags](https://github.com/{{ repo_namespace }}/{{ repo_name }}/settings/tag_protection) settings.
    1. Create a rule for tag name pattern `v*`.
1. Squash merge enforcement:
    1. Navigate to the [General](https://github.com/{{ repo_namespace }}/{{ repo_name }}/settings) settings and the **Pull Requests** section.
    1. Disable **Allow merge commits** and **Allow rebase merging**.
    1. Enable **Allow squash merging** and set **Pull request title** as **Default commit message**.
1. GitHub Pages with GitHub Actions:
    1. Navigate to the [GitHub Pages](https://github.com/{{ repo_namespace }}/{{ repo_name }}/settings/pages) settings.
    1. Set **GitHub Actions** as **Source**.
1. Package publish authentication:
    1. Navigate to the [Actions secrets and variables](https://github.com/{{ repo_namespace }}/{{ repo_name }}/settings/secrets/actions) settings.
    1. Set the **variable** `PDM_PUBLISH_REPO`, the repository (package index) URL to upload the package which defaults to `https://pypi.org`, the official PyPI.
    1. Set the **variable** `PDM_PUBLISH_USERNAME`, the username to authenticate to the repository (package index) which defaults to `__token__`, used for [API token](https://pypi.org/help/#apitoken).
    1. Set the **secret** `PDM_PUBLISH_PASSWORD`, the password to authenticate to the repository (package index).
1. Renovate authentication:

    There are two approaches, either with GitHub App or with personal access token (classic). GitHub App is the more recommended way to avoid the issues and pull requests tied to a particular user.

    ::::{tab-set}

    :::{tab-item} GitHub App
    1. [Register a GitHub App](https://docs.github.com/en/apps/creating-github-apps/registering-a-github-app/registering-a-github-app) with permission listed [here](https://docs.renovatebot.com/modules/platform/github/#running-as-a-github-app).
    1. [Generate a private key](https://docs.github.com/en/apps/creating-github-apps/authenticating-with-a-github-app/managing-private-keys-for-github-apps#generating-private-keys), and download the private key as a `.pem` file.
    1. Navigate to the [Actions secrets and variables](https://github.com/{{ repo_namespace }}/{{ repo_name }}/settings/secrets/actions) settings.
    1. Set **App ID** of the GitHub App as **variable** `BOT_APP_ID`.
    1. Set the content of the private key as **secret** `BOT_PRIVATE_KEY`.
    :::

    :::{tab-item} personal access token (classic)
    1. [Create a personal access token (classic)](https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens#creating-a-personal-access-token-classic) with **workflow** scope.
    1. Navigate to the [Actions secrets and variables](https://github.com/{{ repo_namespace }}/{{ repo_name }}/settings/secrets/actions) settings and set the token as a **secret** `RENOVATE_TOKEN`.
    :::

    ::::

```{note}
You can set the scope of the variables and secrets to **Repository** or **Organization** according to actual requirements.
```

:::

:::{tab-item} GitLab
:sync: gitlab

1. Branch protection:
    1. Navigate to the [Repository](https://gitlab.com/{{ repo_namespace }}/{{ repo_name }}/-/settings/repository) settings and the **Protected branches** section.
    1. Ensure the default `main` branch is protected with **Maintainers** for **Allowed to merge**, **No one** for **Allowed to push and merge** and **Allowed to force push** disabled.
1. Tag protection:
    1. Navigate to the [Repository](https://gitlab.com/{{ repo_namespace }}/{{ repo_name }}/-/settings/repository) settings and the **Protected tags** section.
    1. Add a rule with wildcard `v*` for **Tag** and **Maintainers** for **Allowed to create**.
1. Squash merge and pipeline check enforcement:
    1. Navigate to the [Merge requests](https://gitlab.com/{{ repo_namespace }}/{{ repo_name }}/-/settings/merge_requests) settings.
    1. Set **Fast-forward merge** for the **Merge method**.
    1. Set **Require** for the **Squash commits when merging**.
    1. Enable **Pipelines must succeed** in the **Merge checks**.
1. Package publish authentication:
    1. Navigate to the [CI/CD](https://gitlab.com/{{ repo_namespace }}/{{ repo_name }}/-/settings/ci_cd) settings and the **Variables** section.
    1. Set the variable `PDM_PUBLISH_REPO`, the repository (package index) URL to upload the package, default to `https://pypi.org`, the official PyPI.
    1. Set the variable `PDM_PUBLISH_USERNAME`, the username to authenticate to the repository (package index), default to `__token__`, used for [API token](https://pypi.org/help/#apitoken).
    1. Set the variable `PDM_PUBLISH_PASSWORD` with the **Mask variable** option for security, the password to authenticate to the repository (package index).
1. Renovate authentication:

    Either [Group access tokens](https://docs.gitlab.com/ee/user/group/settings/group_access_tokens.html), [Project access tokens](https://docs.gitlab.com/ee/user/project/settings/project_access_tokens.html) or [Personal access tokens](https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html) can be used. The group or project access tokens are more recommended to avoid the issues and merge requests tied to particular user.

    1. Create a [group access token](https://gitlab.com/groups/{{ repo_namespace }}/-/settings/access_tokens), [project access token](https://gitlab.com/{{ repo_namespace }}/{{ repo_name }}/-/settings/access_tokens) or [personal access token](https://gitlab.com/-/user_settings/personal_access_tokens) with `api, write_repository` scope.
    1. Navigate to the [CI/CD](https://gitlab.com/{{ repo_namespace }}/{{ repo_name }}/-/settings/ci_cd) settings and the **Variables** section. Set the token as variable `RENOVATE_TOKEN` with the **Mask variable** option for security.
    1. Navigate to the [Pipeline schedules](https://gitlab.com/{{ repo_namespace }}/{{ repo_name }}/-/pipeline_schedules). Create a new schedule with `*/15 0-3 * * 1` as **Interval Pattern** and mark it as **Activated**.

    ```{note}
    Although optional, [creating a personal access token (classic)](https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens#creating-a-personal-access-token-classic) on **GitHub** is strongly recommended. This token only needs `read-only` access and will increase the rate limit for Renovate to fetch dependencies and changelogs from github.com. It can be from any account and should be set as the variable `GITHUB_COM_TOKEN` with the **Mask variable** option for security. For more information on setting this up, see [Renovate's documentation](https://docs.renovatebot.com/getting-started/running/#githubcom-token-for-changelogs).
    ```

:::

::::

## Project Update

Thanks to the update mechanism provided natively by `copier`, when a new version of the template is released, you can easily update the project. Just run the following command under the root directory:

```bash
copier update
```

```{note}
The `-A/--skip-answered` flag can be used to skip questions that have already been answered.
```

In most cases, `copier` will manage updates seamlessly. If conflicts arise, they can be resolved manually since everything is version-controlled by Git.

```{tip}
To minimize potential conflicts, there are several suggestions to follow:
1. Avoid modifying the auto-generated files unless absolutely necessary.
1. For template-related changes, consider proposing an issue or change request directly to the template repository.
1. For project-specific changes, adopt an inheritance or extension approach to minimize the changes to auto-generated contents.
```

For more details, please refer to `copier update --help` and [the official documentation](https://copier.readthedocs.io/en/stable/updating/).
