semantic-release:
  image:
    name: node:20.17.0@sha256:48db4f6ea21d134be744207225753a1730c4bc1b4cdf836d44511c36bf0e34d7
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE == "push" && $CI_PROJECT_NAMESPACE == "{{ repo_namespace }}" && $CI_PROJECT_NAME == "{{ repo_name }}" && $PAT != null
  script:
    - >
      npx
      --package @semantic-release/gitlab@13.2.1
      --package conventional-changelog-conventionalcommits@8.0.0
      --package semantic-release@24.1.0
      semantic-release
  stage: release
  variables:
    GITLAB_TOKEN: $PAT
