semantic-release:
  image:
    name: node:20.18.0@sha256:a5e0ed56f2c20b9689e0f7dd498cac7e08d2a3a283e92d9304e7b9b83e3c6ff3
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE == "push" && $CI_PROJECT_NAMESPACE == "{{ repo_namespace }}" && $CI_PROJECT_NAME == "{{ repo_name }}" && $PAT != null
  script:
    - >
      npx
      --package @semantic-release/gitlab@13.2.1
      --package conventional-changelog-conventionalcommits@8.0.0
      --package semantic-release@24.1.3
      semantic-release
  stage: release
  variables:
    GITLAB_TOKEN: $PAT
