[% macro coverage_badge() -%]
  [% if repo_platform == 'github' -%]
[![Coverage](https://img.shields.io/endpoint?url=https://{{ page_url() }}/_static/badges/coverage.json)](https://{{ page_url() }}/reports/coverage)
  [%- elif repo_platform == 'gitlab' or repo_platform == 'gitlab-self-managed' -%]
[![coverage report](https://{{ repo_url() }}/badges/main/coverage.svg)](https://{{ repo_url() }}/-/commits/main)
  [%- endif %]
[%- endmacro %]

[% macro license_badge() -%]
  [% if repo_platform == 'github' -%]
[![GitHub](https://img.shields.io/github/license/{{ repo_namespace }}/{{ repo_name }})]({{ license_url() }})
  [%- elif repo_platform == 'gitlab' or repo_platform == 'gitlab-self-managed' -%]
[![GitLab](https://img.shields.io/gitlab/license/{{ repo_namespace }}/{{ repo_name }}?gitlab_url=https%3A%2F%2F{{ repo_host }})]({{ license_url() }})
  [%- endif -%]
[%- endmacro %]

[% macro license_url() -%]
  [% if repo_platform == 'github' -%]
    https://{{ repo_url() }}/blob/main/LICENSE
  [%- elif repo_platform == 'gitlab' or repo_platform == 'gitlab-self-managed' -%]
    https://{{ repo_url() }}/-/blob/main/LICENSE
  [%- endif -%]
[%- endmacro %]

[% macro logo_badge() -%]
  [![Serious Scaffold Python]({{ logo_badge_url() }})](https://serious-scaffold.github.io/ss-python)
[%- endmacro %]

[% macro logo_badge_url() -%]
  https://img.shields.io/endpoint?url=https://serious-scaffold.github.io/ss-python/_static/badges/logo.json
[%- endmacro %]

[% macro page_url() -%]
  [% if repo_platform == 'github' -%]
    {{ repo_namespace }}.github.io/{{ repo_name }}
  [%- elif repo_platform == 'gitlab' or repo_platform == 'gitlab-self-managed' -%]
    [%- set repo_namespace_root = repo_namespace.split("/")[0] -%]
    {{ repo_namespace_root }}.{{ page_host }}{{ repo_namespace | replace(repo_namespace_root, "", 1) }}/{{ repo_name }}
  [%- endif %]
[%- endmacro %]

[% macro pipeline_badge() -%]
  [% if repo_platform == 'github' -%]
[![CI](https://{{ repo_url() }}/actions/workflows/ci.yml/badge.svg)](https://{{ repo_url() }}/actions/workflows/ci.yml)
[![CommitLint](https://{{ repo_url() }}/actions/workflows/commitlint.yml/badge.svg)](https://{{ repo_url() }}/actions/workflows/commitlint.yml)
[![DevContainer](https://{{ repo_url() }}/actions/workflows/devcontainer.yml/badge.svg)](https://{{ repo_url() }}/actions/workflows/devcontainer.yml)
[![Release](https://{{ repo_url() }}/actions/workflows/release.yml/badge.svg)](https://{{ repo_url() }}/actions/workflows/release.yml)
[![Renovate](https://{{ repo_url() }}/actions/workflows/renovate.yml/badge.svg)](https://{{ repo_url() }}/actions/workflows/renovate.yml)
  [%- elif repo_platform == 'gitlab' or repo_platform == 'gitlab-self-managed' -%]
[![pipeline status](https://{{ repo_url() }}/badges/main/pipeline.svg)](https://{{ repo_url() }}/-/commits/main)
  [%- endif %]
[%- endmacro %]

[% macro releases_url() -%]
  [% if repo_platform == 'github' -%]
    https://{{ repo_url() }}/releases
  [%- elif repo_platform == 'gitlab' or repo_platform == 'gitlab-self-managed' -%]
    https://{{ repo_url() }}/-/releases
  [%- endif -%]
[%- endmacro %]

[% macro release_badge() -%]
  [% if repo_platform == 'github' -%]
[![Release](https://img.shields.io/github/v/release/{{ repo_namespace }}/{{ repo_name }})]
  [%- elif repo_platform == 'gitlab' or repo_platform == 'gitlab-self-managed' -%]
[![Latest Release](https://{{ repo_url() }}/-/badges/release.svg)]
  [%- endif -%]
({{ releases_url()}})
[![PyPI](https://img.shields.io/pypi/v/{{ package_name }})](https://pypi.org/project/{{ package_name }}/)
[%- endmacro %]

[% macro repo_url() -%]
  {{ repo_host }}/{{ repo_namespace }}/{{ repo_name }}
[%- endmacro %]
