{% from pathjoin("includes", "version_compare.jinja") import version_between -%}
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python {{ '${{ matrix.python-version }}' }}
        uses: actions/setup-python@v4
        with:
          cache: pip
          python-version: {{ '${{ matrix.python-version }}' }}
      - run: env | sort
      - run: make dev-lint
      - run: make lint-check
    strategy:
      matrix:
        python-version:
{%- if version_between("3.8", minimal_python_version, maximal_python_version) | bool %}
          - '3.8'
{%- endif %}
{%- if version_between("3.9", minimal_python_version, maximal_python_version) | bool %}
          - '3.9'
{%- endif %}
{%- if version_between("3.10", minimal_python_version, maximal_python_version) | bool %}
          - '3.10'
{%- endif %}
{%- if version_between("3.11", minimal_python_version, maximal_python_version) | bool %}
          - '3.11'
{%- endif %}
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python {{ '${{ matrix.python-version }}' }}
        uses: actions/setup-python@v4
        with:
          cache: pip
          python-version: {{ '${{ matrix.python-version }}' }}
      - run: env | sort
      - run: make dev-tests
      - run: make tests
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          flags: {{ '${{ matrix.python-version }}' }}
    strategy:
      matrix:
        python-version:
{%- if version_between("3.8", minimal_python_version, maximal_python_version) | bool %}
          - '3.8'
{%- endif %}
{%- if version_between("3.9", minimal_python_version, maximal_python_version) | bool %}
          - '3.9'
{%- endif %}
{%- if version_between("3.10", minimal_python_version, maximal_python_version) | bool %}
          - '3.10'
{%- endif %}
{%- if version_between("3.11", minimal_python_version, maximal_python_version) | bool %}
          - '3.11'
{%- endif %}
{%- if project_name == "Serious Scaffold Python" %}
  consistency:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Git
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
      - name: Set up Python {{ '${{ matrix.python-version }}' }}
        uses: actions/setup-python@v4
        with:
          cache: pip
          python-version: {{ '${{ matrix.python-version }}' }}
      - run: env | sort
      - name: Install copier for template rendering
        run: python -m pip install --user copier
      - name: Generate the project with the default value
        run: |
          rm -rf src/serious_scaffold
          copier copy -x '!src/serious_scaffold' -r HEAD -f . .
      - run: git diff
      - run: git status --porcelain
      - run: |
          if [[ -n `git status --porcelain` ]]; then
            exit 1
          fi
    strategy:
      matrix:
        python-version:
{%- if version_between("3.8", minimal_python_version, maximal_python_version) | bool %}
          - '3.8'
{%- endif %}
{%- if version_between("3.9", minimal_python_version, maximal_python_version) | bool %}
          - '3.9'
{%- endif %}
{%- if version_between("3.10", minimal_python_version, maximal_python_version) | bool %}
          - '3.10'
{%- endif %}
{%- if version_between("3.11", minimal_python_version, maximal_python_version) | bool %}
          - '3.11'
{%- endif %}
{%- endif %}
name: CI
on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - main
