name: CI

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  ci:
    if: ${{ !cancelled() && ! failure() }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Set up PDM
        uses: pdm-project/setup-pdm@94a823180e06fcde4ad29308721954a521c96ed0 # v4.4
        with:
          cache: true
          python-version: ${{ matrix.python-version }}
          version: 2.25.4
          cache-dependency-path: |
            ./pdm.dev.lock
            ./pdm.lock
      - run: env | sort
      - run: make prerequisites
      - run: make dev
      - run: make lint test doc build
    strategy:
      matrix:
        os:
          # renovate: github-runner
          - macos-14
          # renovate: github-runner
          - ubuntu-24.04
          # renovate: github-runner
          - windows-2025
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
  consistency:
    if: ${{ !cancelled() && ! failure() }}
    runs-on: ubuntu-24.04
    steps:
      - run: env | sort
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Git
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
      - run: pipx install copier==9.8.0
      - run: make template-build
      - run: git diff
      - run: git status --porcelain
      - run: test -z "$(git status --porcelain)"
