name: Release
jobs:
  pages-build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          fetch-depth: 0
      - uses: pdm-project/setup-pdm@568ddd69406b30de1774ec0044b73ae06e716aa4 # v4
        with:
          cache: true
          python-version: "3.12"
          version: 2.15.1
      - id: pages
        name: Setup pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0
      - run: env | sort
      - run: make dev-doc
      - run: make doc
        env:
          CI_PAGES_URL: ${{ steps.pages.outputs.base_url }}
      - name: Generate release notes
        run: make release-notes > release-notes.md
      - name: Upload release notes
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        with:
          name: release-notes
          path: release-notes.md
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
        with:
          path: public
  release-publish:
    needs: pages-build
    permissions:
      contents: write
    runs-on: ubuntu-22.04
    steps:
      - name: Download release notes
        uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e # v4.1.7
        with:
          name: release-notes
      - id: prerelease
        name: Determine prerelease
        run: |
          if [[ "${{ github.ref }}" =~ (a|b|rc)(0|[1-9][0-9]*)?$ ]]; then
            echo "is_prerelease=true" > $GITHUB_OUTPUT
          else
            echo "is_prerelease=false" > $GITHUB_OUTPUT
          fi
      - name: Create GitHub release
        uses: softprops/action-gh-release@9d7c94cfd0a1f3ed45544c887983e9fa900f0564 # v2.0.4
        with:
          body_path: release-notes.md
          prerelease: ${{ steps.prerelease.outputs.is_prerelease }}
  container-publish:
    needs: release-publish
    permissions:
      packages: write
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
      - run: docker login -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }} ghcr.io
      - run: |
          docker context create builder
          docker buildx create builder --name container --driver docker-container --use
          docker buildx inspect --bootstrap --builder container
      - run: |
          docker buildx build . \
            --build-arg PYTHON_VERSION=${{ matrix.python-version }} \
            --cache-from type=registry,ref=ghcr.io/${{ github.repository }}/dev-cache:py${{ matrix.python-version }} \
            --cache-to type=registry,ref=ghcr.io/${{ github.repository }}/dev-cache:py${{ matrix.python-version }},mode=max \
            --file .devcontainer/Dockerfile \
            --provenance false \
            --push \
            --tag ghcr.io/${{ github.repository }}/dev:py${{ matrix.python-version }} \
            --tag ghcr.io/${{ github.repository }}/dev:py${{ matrix.python-version }}-${{ github.ref_name }} \
            --target dev
      - run: |
          docker buildx build . \
            --build-arg PDM_BUILD_SCM_VERSION=${{ github.ref_name }} \
            --build-arg PYTHON_VERSION=${{ matrix.python-version }} \
            --cache-from type=registry,ref=ghcr.io/${{ github.repository }}/dev-cache:py${{ matrix.python-version }} \
            --file .devcontainer/Dockerfile \
            --provenance false \
            --push \
            --tag ghcr.io/${{ github.repository }}:py${{ matrix.python-version }} \
            --tag ghcr.io/${{ github.repository }}:py${{ matrix.python-version }}-${{ github.ref_name }} \
            --target prod
    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
  package-publish:
    needs: release-publish
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
      - uses: pdm-project/setup-pdm@568ddd69406b30de1774ec0044b73ae06e716aa4 # v4
        with:
          cache: true
          python-version: "3.12"
          version: 2.15.1
      - run: env | sort
      - env:
          PDM_PUBLISH_PASSWORD: ${{ secrets.PDM_PUBLISH_PASSWORD }}
          PDM_PUBLISH_USERNAME: ${{ vars.PDM_PUBLISH_USERNAME || '__token__' }}
        run: make publish
  pages:
    needs: release-publish
    permissions:
      id-token: write
      pages: write
    runs-on: ubuntu-22.04
    steps:
      - id: deployment
        name: Deploy to GitHub Pages
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
on:
  push:
    tags:
      - v?[0-9]+.[0-9]+.[0-9]+
      - v?[0-9]+.[0-9]+.[0-9]+-?a[0-9]*
      - v?[0-9]+.[0-9]+.[0-9]+-?b[0-9]*
      - v?[0-9]+.[0-9]+.[0-9]+-?rc[0-9]*
